a:hover, .cursor-pointer {
	cursor: pointer;
}

html {
	position: relative;
	min-height: 100%;
	overflow-y: scroll;
}

body {
	-webkit-print-color-adjust: exact;
	padding-top: 60px;
	margin-bottom: 70px;
	min-height: 100%;
}

.header {
	color: #36A0FF;
	font-size: 27px;
	padding: 10px;
}

.deliveries.well {
	min-height: 520px;
}

/*img {*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/

.bigicon {
	font-size: 35px;
	color: #36A0FF;
}

textarea {
	resize: vertical;
}

#map {
	height: 400px;
}

#panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
}

#panel, .panel {
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#panel i, .panel i {
	font-size: 12px;
}
