<div class="well well-sm deliveries">
    <legend class="text-center header">Deliveries</legend>
    <div class="col-sm-6">
        <table class="table table-condensed table-hover">
            <tbody>
            <tr>
                <td>Windows</td>
                <td>28.08.2015</td>
            </tr>
            <tr class="success">
                <td>Mac OS</td>
                <td>29.08.2015</td>
            </tr>
            <tr>
                <td>Ubuntu</td>
                <td>30.08.2015</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <div id="map"></div>
    </div>
</div>

