<div class="well well-sm">
    <legend class="text-center header" translate="PRICES_TITLE">Prices</legend>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Computer</td>
            <td>10$</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>TV</td>
            <td>15$</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Refrigerator</td>
            <td>20$</td>
        </tr>
        </tbody>
    </table>
</div>
